*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}
p{
    color:#999999;
    margin:0px;
}



#title p{
    font-family: "Ubuntu";
    font-weight:700;
    font-size: 1.8rem;
    color:rgb(70, 69, 69)
}
.title-desc{
    font-family: Ubuntu;
    font-size: 0.9rem;
    color: rgb(92 92 92);
    
   
}

body{
    
   font-family: "Montserrat";
   
}
h1{
    font-family: "Montserrat";
    font-weight: 900;
    color:#0583d2;
    line-height: 1.2em;
    font-size: 60px;
    
}
h2{
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1.2em;
    color:#0583d2;
    
}
h3{
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 1.2em;
    color:#0583d2;
    /* padding-top: 5%; */
}
h4{
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1.2em;
    color:#0583d2;
}
h5{
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.2rem;
    color: #0583d2;
    
}
.fa{
    color:rgb(68, 64, 64);
}
.col-md-6{
    padding:0%;
    margin:0;

    
}

@media (max-width: 480) {
   .text-block{
       text-align: center;
   }
  }



.container-fluid{
    margin:0px;
    padding:0px;
}
.date{
    color:rgb(127, 127, 127);
    font-style: italic;
}

/* cv */

#cv-download a {
    text-decoration: none;
} 



/*nav bar */

.navbar-brand{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 1.5rem;
}
.navbar{
   padding:50px 150px; 
   background-color: white;
   z-index: 1;
   margin-bottom: 50px;
}
.fixed-nav{
    position: fixed;
    margin-top: 0;
    width: 100%;
    padding: 20px 150px;
    background-color: rgb(245 247 249);
}

.navbar-nav{
   
    font-size: 1.2rem;
}
.head-name{
    font-family: Montserrat;
    font-weight: 900;
    font-size:xx-large;
}
.navbar-light .navbar-brand {
    color:#0583d2;
}

/* responsive */
@media (max-width:768px){
    .head-name{
        text-align: center;
        font-family: Montserrat;
        font-weight: 900;
        font-size:x-large;
    }
    .navbar-toggler-icon{
        width:100px;
        margin:auto;
        text-align: center;
    }
    #title p{
        text-align: center;
        font-size:large;
    }
    h1{
       
        font-family: Montserrat;
        font-weight: 900;
        font-size:x-large;
    }
    h2{
       
        font-family: Montserrat;
        font-weight:700;
        font-size:larger;

    }
    h5{
        
        font-family: Montserrat;
        font-weight:500;
        font-size:large;
    }
    .text-block{
        text-align: center;
    }
    .navbar-collapse{
        text-align:center;
    }
    #cv-download{
        margin:1rem;
    }
    .education-title, .experience-title{
        padding-left: 5%;
    }
    
}


/* title section */
.row{
    padding:1% 10%;
    
    
}


.image-col img {
    width:300px;
    border-radius: 50%;
    display: block;
    margin:auto;
    height: 300px;
  
}



/*education */

.education-title-second{
    padding-top: 1%;
}
.edu-box{
    margin:0 0 1.5rem 1rem;
}
.ed-row{
    width:80%;
    box-shadow:0 0 5px 0px rgba(0, 0, 0, 0.2);
    margin:auto;
    margin-bottom: 20px;
}
.ex-row{
    width:80%;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    margin:auto;
}
.ex-box{
    margin-top: 3%;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    /* margin: 3%; */
}
#experiences, #educations{
    margin:2%;
}

.gridContainer{
    display: grid;
    text-align: center; 
    padding: 2% 12%; 
    gap:3rem;
 }
.gridItems{
   
    text-align: center;
    justify-self: center;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 5%;
}
    
    


.project-desc{
   
    font-family: Ubuntu;
    font-size: 0.9rem;
    color: rgb(92 92 92);
    padding: 0 4%;
   
   
}

#projects h2{
    font-family: "Montserrat";
    font-weight: 900px;
    color:#0583d2;
    text-align: center;
    font-size: 2rem;
}
#projects h3{
    font-family: "Montserrat";
    color:#0583d2;
    text-align: center;
 
}


.languages-used{
    color:grey;
    padding-top: 5%;
}
.team p {
    font-size: 0.9rem;
    margin:0;
    color:#999999;
}
.header{
   
    
    height: 80px;
    margin:auto;
}
/* responsive */
@media (min-width:600px){
    .gridContainer { grid-template-columns: repeat(1, 1fr); 
    }
}


@media (min-width:900px){
    .gridContainer{ grid-template-columns: repeat(2, 1fr); 
}
}
/* contact me*/
#contact-me{


padding:3% 10%;
width:60%;
margin:auto;
text-align: center;
box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.2);
margin-bottom: 5%;
}

.contactButton{
    font-size: 1.2rem;
    padding: 10px 50px;
    
}
.input, .area {

    width:100%;
    padding:2%;
    border: 1px solid rgb(194, 193, 193);
    border-radius: 10px;
    margin-bottom: 2%;
    color:#b7b8b8;
    
}
.login .inputName {
    width:49%;
}
.login{
    padding-top: 3%;
}

@media (min-width:900){
    .login .inputName {
        width:49%;
    }
    .login{
        padding-top: 3%;
    }


    

}


/*footer */

 #footers{
    height: 200px;
    background-color:#0583d2;
    
}
#footers i {
    background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color:#06588b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
h3.footer-name{
    color:white;
   text-align: center;
}
.footer-box{
    width: 100%;
    position: relative;
    top: 35%;
}

.footers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.footers-link{

   
    margin: 0.7rem; 
}
@media (max-width:768px) {
    .inputName , .inputEmail, .inputMessage {
        width:200px;
        margin:2px;
    
    }
    .contactButton{
        font-size: 1rem;
        padding:5px 20px;
    }
   
}




/* skills-section */
#skill{
    text-align: center;
}


.gridSkill {
  margin:auto ;
  margin-bottom: 3rem;
   width: 60%;
}
.skills{
    font-size: 1.3rem;
    color: #0583d2;
}
.html-bar{
   
    background-color: #0583d2;
    width: 60%;
    border-radius: 5%;
    height: 25px;
    
}
.html-bar{
   
    background-color: #0583d2;
    width: 70%;
    border-radius: 5%;
    height: 25px;
    
}
.cpp-bar{
   
    background-color: #0583d2;
    width: 60%;
    border-radius: 5%;
    height: 25px;
    
}
.js-bar{
   
    background-color: #0583d2;
    width: 70%;
    border-radius: 5%;
    height: 25px;
    
}
.illustrator-bar{
   
    background-color: #0583d2;
    width: 50%;
    border-radius: 5%;
    height: 25px;
    
}
.bar p {
    position: relative;
    color:#0583d2;

    font-weight:bold;
    right: -50rem;
}
.skill-bg{
    background-color: #d2cfcf;
    height: 25px;
    
}


a:hover{
    text-decoration: none;
}
