.skill-title {
  color: #999999;
  position: absolute;
  font-weight: 500;

  width: 80px;
  margin: auto;

  top: 110px;
}

.logo-icon {
  height: 80px;
  margin-top: 8px;

  /* color: orangered; */
}
.indiv-skill {
  position: relative;
  text-align: center;
  width: 80px;
  height: 100px;
  /* margin: auto; */
  border-radius: 5%;
  /* to center  */
}

.skill-type {
  margin-top: 5%;
  /* text-decoration: underline; */
}
.skills-wrapper {
  /* display: flex; */
  display: grid;

  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(10, 1fr);
  margin: 10px 0 10px 0;
  text-align: center;

  /* position: relative; */
}
.skills-wrapper p {
  font-size: 0.9rem;
}
/* .skills-languages {
  position: relative;
} */

/* mobile phones  */
@media screen and (max-width: 480px) {
  .skills-wrapper {
    grid-template-columns: repeat(3, 1fr);
    /* Adjust column width for smaller screens */
  }

  .skill-small {
    margin-top: 70px;
  }
  .aboutMeHeader h2 {
    font-size: 1.3rem;
  }
  #skill {
    font-size: 1.3rem;
  }
  .connect-head {
    font-size: 2rem;
  }
}
