p.skill-title {
  color: rgb(75, 73, 73);
  font-weight: 600;
}

.logo-icon {
  margin-top: 8px;
  height: 80px;
  color: orangered;
}
.indiv-skill {
  text-align: center;
  width: 80px;
  height: 120px;
  border-radius: 5%;
  background-color: white;
}
.skills-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
